/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
    font-family: "Inter";
    src: url("/static/fonts/Inter-Regular.ttf") format("truetype");
}



/* You can override the default Infima variables here. */
:root {
  --font-family: "Inter";
  --ifm-font-family-monospace: "Inter";
  --ifm-font-family-base: "Inter";
  --ifm-color-primary: #589de0;
  --ifm-color-primary-dark: #3e8edb;
  --ifm-color-primary-darker: #3186d9;
  --ifm-color-primary-darkest: #226eb8;
  --ifm-color-primary-light: #72ace5;
  --ifm-color-primary-lighter: #7fb4e7;
  --ifm-color-primary-lightest: #a7cbef;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
